# Ignore everything by default
*

# INCLUDE these explicitly:
!Dockerfile.cloudrun
!lfs-toolchain-final.tar.gz
!cloudbuild.yaml

# Definitely exclude these:
.git/
node_modules/
.firebase/
functions/
helpers/
public/
docs/
*.log
*.md
